@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Content {
    @using TestLEAE.DataLayer;
    @using TestLEAE.ModelsView;
    @model ClientView
    <p>Просмотр клиентов</p>
    <div class="fade-in">
        <ul class="card-body">
            <li class="card-title" id="client-name">Имя - @Model.Name</li>
            <li class="card-text" id="client-inn">ИНН - @Model.Inn</li>
            <li class="card-text" id="client-dateToAdd">Дата добавления - @Model.DateToAdd.ToString("dd.MM.yyyy")</li>
            <li class="card-text" id="client-dateToUpdate">Дата обновления - @Model.DateToUpdate.ToString("dd.MM.yyyy")</li>
            @if (Model.Type == ClientType.LegalEntities)
            {
                <li><a method="get" class="card-text" href="@Url.Action("GetFounder", "Home")" id="getFounderLink">Учредители</a></li>
            }
        </ul>
    </div>
}