@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Content {
    @using TestLEAE.DataLayer;
    @using TestLEAE.ModelsView;
    @model ClientView
    <h1 class="display-4">Просмотр клиентов</h1>
    <div class="col-md-6 col-lg-4 mt-5 mb-5">
        <div class="card mb-4">
            <div class="card-body fade-in content-card">
                <h5 class="card-title" id="client-name">Имя - @Model.Name</h5>
                <p class="card-text" id="client-inn">ИНН - @Model.Inn</p>
                <p class="card-text" id="client-dateToAdd">Дата добавления - @Model.DateToAdd.ToString("dd.MM.yyyy")</p>
                <p class="card-text" id="client-dateToUpdate">Дата обновления - @Model.DateToUpdate.ToString("dd.MM.yyyy")</p>
                @if (Model.Type == ClientType.LegalEntities)
                {
                    <p>
                        <a method="get" class="card-text color-dynamic" href="@Url.Action("GetFounder", "Home", new { clientInn = Model.Inn })" id="getFounderLink">Учредители</a>
                    </p>
                }
            </div>
        </div>
    </div>
}